.idea/
CMakeBuild/
logs/
ompg/frag_libs/
ompg/logs/
ompg/output/
ompg/stats/
pdb_output/
scripts/.idea/
scripts/*.pyc
scripts/*.pyx
scripts/*.Rhistory
stats/
test/
tools/namd/output/
tools/namd/logs/
tools/namd/scripts/temp/
tools/namd/source/charm-6.7.0/
tools/namd/source/fftw/
tools/namd/source/Linux-x86_64-g++/
tools/namd/source/tcl/
tools/namd/source/tcl-threaded/
tools/propka-3.1/*.pyc
tools/propka-3.1/propka/*.pyc
vstudio/*.sdf
vstudio/*.opensdf
vstudio/*.suo
vstudio/*.user
vstudio/Debug/
vstudio/Release/
vstudio/x64/
vstudio/*.VC.VC.opendb
vstudio/*.VC.db
vstudio/.vs/
*.pyc
